/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

.conteneur-flex {
  display: flex;
  flex-direction: row;
}

header {
  height: $height-header; width: 100%;
  position: fixed; top: 0;

  .head-menu-left{
    width: 20%;
    background-color: $color-left;
  }

  .head-message{
    width: 80%;
    border-bottom: $border;
    border-left: $border;
  }

  .head-menu-right{
    width: 20%;
    border-bottom: $border;
  }
}

section {
  position: absolute;
  top: $height-header; bottom: $height-footer;
  width: 100%;

  .core-menu-left {
    width: 20%;
    overflow: scroll;
    background-color: $color-left;
  }

  .core-message {
    width: 80%;
    overflow: scroll;

    border-right: $border;
    border-left: $border;
  }

  .core-menu-right {
    width: 20%;
    overflow: scroll;
  }
}

footer {
  height: $height-footer; width: 100%;
  position: fixed; bottom: 0;

  .foot-menu-left{
    width: 20%;
    background-color: $color-left;
  }

  .foot-message{
    width: 80%;
    border-top: $border;
    border-right: $border;
    border-left: $border;
  }

  .foot-menu-right{
    width: 20%;
  }
}
