/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

.conteneur-flex {
  display: flex;
  flex-direction: row;
}

header {
  height: $height-header; width: 100%;
  position: fixed; top: 0;

  .head-menu-left{
    width: 20%;
    background-color: $color-left;
    border-right: $border;
  }

  .head-message{
    width: 80%;
    padding: rem(10px);
    border-bottom: $border;
  }

  .head-menu-right{
    width: 20%;
    border-bottom: $border;
  }
}

section {
  position: absolute;
  top: $height-header; bottom: $height-footer;
  width: 100%;

  .core-menu-left {
    width: 20%;
    padding:rem(10px);
    background-color: $color-left;
    border-right: $border;
  }

  .core-message {
    width: 81%;
    overflow: auto;
  }

  .core-menu-right {
    width: 20%;
    padding: rem(10px);
    overflow: auto;
  }
}

footer {
  height: $height-footer; width: 100%;
  position: fixed; bottom: 0;

  .foot-menu-left{
    width: 20%;
    background-color: $color-left;
    border-right: $border;
  }

  .foot-message{
    width: 80%;
    overflow: scroll;
  }

  .foot-menu-right{
    width: 20%;
  }
}
