/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

// - CODE A REFACTORER

.CodeMirror {
  height: 75px;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 75px;
}

.smileys-container {
  display: inline-block;
  margin-top:10px;
  padding:5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.smileys-container img {
  margin-right:5px;
  width:18px;
  height:auto;
}

.smileys-link-container {
  margin-top:-1px;
  width:81px;
  padding:5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
