/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

#editor {

  .editor-toolbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .CodeMirror {
    height: 75px;
  }

  .CodeMirror, .CodeMirror-scroll {
    min-height: 75px;
  }

  .smileys-container {
    display: inline-block;
    margin-top:10px;
    padding:5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;

    img {
      margin-right:5px;
      width:18px;
      height:auto;
    }
  }
}
