/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

body {
  font-size: rem(13px);
  overflow: hidden;
}

.block {
  padding: $padding-block;
}

pre {
  padding: rem(10px);
  margin: rem(10px) 0;
  font-size: rem(13px);
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: rem(1px) solid #ccc;
  border-radius: rem(4px);
}

pre code {
  padding: 0;
  white-space: pre-wrap;
}