/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

.title-site {
  margin: rem(15px) 0;
  text-align: center;

  .site-name {
    color: #90a4ae;
    font-family: 'Oswald', sans-serif;
    font-size: rem(70px);
    text-decoration: none;

    span {
      color: #03a9f4;
    }
  }

  .site-motto {
    color: #999;
    font-size: rem(10px);
    font-style: italic;
    margin: 0; padding: 0;
    text-align: center;
  }
}

#login {

  .form-signin {
    margin: 0 auto;
    max-width: rem(330px);
    padding: 0;

    .form-control {
      padding: rem(10px);
    }

    .form-group, .checkbox {
      margin-bottom: rem(10px);
    }

    .checkbox {
      text-align: center;
    }

    input[type="text"] {
      margin-bottom: rem(-1px);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type="password"] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
