/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

.core-menu-left {
  .block {
    // todo ...
  }
}

.head-menu-left {

  h5 {
    margin: 0;

    &.title-site {
      text-align: center;

      .site-name {
        font-size: rem(30px);
      }
    }
  }
}
