/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

// - CODE A REFACTORER

body {
  font-size: rem(13px);
  overflow: hidden;
}

button.delete {
  margin-top:-1px;
  padding: 0px 5px;
  line-height: 1.2;
}
