/*
 * scss nodechat-flarum
 *
 * author : hardware, magicalex, hydrog3n
*/

#clients {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#clients > li > img {
  max-height: 50px;
  max-width: 50px;
  margin-right: 10px;
  margin-top: 5px;
}

#clients > li.afk {
  opacity: 0.3;
}
