script(src='/socket.io/socket.io.js')
script(src='/javascripts/dest/scripts.min.js')
script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
script(src="//cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")

if path == '/chatroom'
  script(src='/javascripts/dest/io.scripts.min.js')