if path == '/chatroom'
  script(src='/socket.io/socket.io.js')
  script(src='/js/app.min.js')
  //- reste à télécharger
  script(src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
  script(src="//cdn.jsdelivr.net/highlight.js/latest/highlight.min.js")
