.core-menu-left
  h5 #{ user.name } - Menu

  if user.isAdmin
    h6 Modération
    p
      a(href='#' id='banLink') Kick/Ban
    p
      a(href='#' id='banList') Lister les membres exclus

  h6 Commandes
  p
    a(href='#') /roll
  p
    a(href='#' id='afk') /afk
  p
    a(href='#' id='pm') /msg user message
  p
    a(href='#' id='poke') /poke user

  h6 Général
  p
    a(href='#' id="notification") Activer les notifications
  p
    a(href='/logout') Se déconnecter
    
  h6 Options
  label
    input(type='checkbox' id='disable-enter-action')
    | Désactiver l'envoi des messages avec la touche entrée
  label
    input(type='checkbox' id='disable-auto-scroll')
    | Désactiver l'auto-scroll
