npm-debug.log
node_modules
Procfile_dev
public/js/*.js
public/js/*.map
public/fonts/*.otf
public/fonts/*.eot
public/fonts/*.svg
public/fonts/*.ttf
public/fonts/*.woff
public/fonts/*.woff2
public/css/*.css
public/json
views/includes/build/*.jade
.vagrant/
client/bower
typings
.vscode/
.DS_Store

*~
*.log
*.env
*.migrate
Berksfile.lock
