extends layout

block content

  .conteneur-flex

    //- menu gauche
    nav.menu#menu
      .nav--header
        h5.title-site
          a(href="/" title="Mondedie.fr" class="site-name")
            | {
            span  M
            | ONDEDIE
            span  }
      .nav--core
        p.sign-out
          a(href='/logout' class='link-sign-out' title='Déconnexion')
            i.fa.fa-sign-out
            span Se déconnecter
        h6 Commandes
        p: a(href='#' id='afk') /afk on | off
        p: a(href='#' id='pm') /msg @user message
        p: a(href='#' id='poke') /poke @user
        p: a(href='#' id='roll') /roll [nombre]d[faces]
        p: a(href='#' id='rolluser') /roll @user
        h6 Options
        p: a(href='#' id="notification") Activer les notifications
        label
          input(type='checkbox' id='disable-enter-action')
          | Désactiver la touche entrée
        label
          input(type='checkbox' id='disable-auto-scroll')
          | Désactiver l'auto-scroll
        label
          input(type='checkbox' id='disable-login-events')
          | Désactiver les évènements de connexion
        if user.isAdmin
          h6 Modération
          p: a(href='#' id='banLink') Kick/Ban
          p: a(href='#' id='banList') Lister les membres exclus
          p: a(href='#' id='unlock') Débloquer un utilisateur

    //- message
    section.panel#panel
      .section--center
        .section--center--header
          a#toggle-button.hidden-sm-up ☰
          h5 #General
        .section--center--core#content-messages
        .section--center--footer
          form#editor
            textarea(id='text-editor' placeholder='Cliquez ici pour écrire un message.')
          #content-typing

      //- colonne de droite
      .section--right
        .section--right--header
          h6 Utilisateurs en ligne
          #content-users
        .section--right--footer
          span.links
            a(href='http://mondedie.fr' target='_blank') Forum
            | -
            a(href='https://twitter.com/mondediefr' target='_blank') Twitter
            | -
            a(href='https://github.com/mondediefr/mondedie-chat' target='_blank') Github
            | -
          span.label.label-default
            a(href='https://github.com/mondediefr/mondedie-chat/releases/tag/v1.0.0' target='_blank') v1.0.0

  //- popup
  #content-smileys
  if user.isAdmin
    div(class='modal fade' id='banPopup')
      div(class='modal-dialog' role='document')
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
              span(class='sr-only') Close
            h4.modal-title Kick/Ban
          .modal-body
            .alert.alert-info
              | Commandes équivalentes : <code>/kick @user</code> et <code>/unban @user</code>
              | Liste : <code>/ban list</code>
            form
              .form-group
                label.control-label Pseudo :
                input(type='text' name='userBanned' class='form-control' autofocus)
          .modal-footer
            button(type='button' class='btn btn-secondary' data-dismiss='modal') Annuler
            button(type='button' role='unban' class='btn btn-warning-outline') Débannir
            button(type='button' role='ban' class='btn btn-danger-outline') Bannir
