extends layout

block content

  header.conteneur-flex
    .head-menu-left
      .block
        h5.title-site
          a(href="/" title="Mondedie.fr" class="site-name")
            | {
            span  M
            | ONDEDIE
            span  }
    .head-message
      .block
        h5 #General
    .head-menu-right
      .block

  section.conteneur-flex
    include includes/menu-left
    div(id='content-messages' class='core-message')
    include includes/menu-right

  footer.conteneur-flex
    .foot-menu-left
      .block
    include includes/form
    .foot-menu-right
      .block

  if user.isAdmin
    div(class='modal fade' id='banPopup')
      div(class='modal-dialog' role='document')
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
              span(class='sr-only') Close
            h4.modal-title Kick/Ban
          .modal-body
            .alert.alert-info
              | Commandes équivalentes : <code>/kick user</code> et <code>/unban user</code>
              | Liste : <code>/ban list</code>
            form
              .form-group
                label.control-label Pseudo :
                input(type='text' name='userBanned' class='form-control' autofocus)
          .modal-footer
            button(type='button' class='btn btn-secondary' data-dismiss='modal') Annuler
            button(type='button' role='unban' class='btn btn-warning-outline') Débannir
            button(type='button' role='ban' class='btn btn-danger-outline') Bannir
