extends layout

block content

  .container-fluid
    .row
      #content-messages
      div(class='col-md-2' id='clients-box')
        .dropdown
          button(class='btn btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') #{ user.name } > Menu
            | &nbsp;
            span.caret
          ul.dropdown-menu
            if user.isAdmin
              li.dropdown-header Modération
              li.divider
              li
                a(href='#' id='banLink') Kick/Ban
              li
                a(href='#') Lister les membres exclus
              li
                a(href='#') Montrer IP
              li &nbsp;
              li.dropdown-header Général
              li.divider
            li
              a(href='#') /roll BXT
            li
              a(href='#') Lancer un dé
            li.divider
            li
              a(href='/logout') Se déconnecter
        hr
        h4 Utilisateurs
        ul#clients

  div(class='modal fade' id='banPopup')
    .modal-dialog
      .modal-content
        .modal-header
          button(type='button' class='close' data-dismiss='modal')
            span &times;
          h4.modal-title Kick/Ban
        .modal-body
          form
            .form-group
              label.control-label Pseudo :
              input(type='text' name='userBanned' class='form-control' autofocus)
        .modal-footer
          button(type='button' class='btn btn-default' data-dismiss='modal') Annuler
          button(type='button' role="ban" class='btn btn-danger') Bannir
          button(type='button' role="unban" class='btn btn-warning') Débannir