extends layout

block content

  .conteneur-flex

    //- menu gauche
    nav.menu#menu
      .nav--header
        h5.title-site
          a(href="/" title="Mondedie.fr" class="site-name")
            | {
            span  M
            | ONDEDIE
            span  }
      .nav--core
        hr
        .nav--core--block
          h6
            i.fa.fa-terminal
            span Commandes
          a(href='#' id='afk') /afk on | off
          a(href='#' id='pm') /msg @user message
          a(href='#' id='poke') /poke @user
          a(href='#' id='roll') /roll [nombre]d[faces]
          a(href='#' id='rolluser') /roll @user
        hr
        .nav--core--block
          h6
            i.fa.fa-cog
            span Options
          a(href='#' id="notification") Activer les notifications
          label
            input(type='checkbox' id='disable-enter-action')
            | Désactiver la touche entrée
          label
            input(type='checkbox' id='disable-auto-scroll')
            | Désactiver l'auto-scroll
          label
            input(type='checkbox' id='disable-login-events')
            | Désactiver les évènements de connexion
        if user.isAdmin
          hr
          .nav--core--block
            h6
              i.fa.fa-university
              span Modération
            a(href='#' id='banLink') Kick/Ban
            a(href='#' id='banList') Lister les membres exclus
            a(href='#' id='unlock') Débloquer un utilisateur
        hr
        h6.sign-out
          a(href='/logout' class='link-sign-out' title='Déconnexion')
            i.fa.fa-sign-out
            span Se déconnecter

    //- message
    section.panel#panel
      .section--center
        .section--center--header
          button#toggle-button.hidden-lg-up
            i.fa.fa-bars
          h5 #General
        .section--center--core#content-messages
        .section--center--footer
          form#editor
            textarea(id='text-editor' placeholder='Cliquez ici pour écrire un message.')
          #footer-editor
            #content-typing
            #count-textarea

      //- colonne de droite
      .section--right
        .section--right--header
          h6
            i.fa.fa-users
            span Utilisateurs en ligne
          hr
          #content-users
        .section--right--footer
          span.links
            a(href='http://mondedie.fr' target='_blank') Forum
            | -
            a(href='https://twitter.com/mondediefr' target='_blank') Twitter
            | -
            a(href='https://github.com/mondediefr/mondedie-chat' target='_blank') Github
            | -
          span.label.label-default
            a(href='https://github.com/mondediefr/mondedie-chat/releases/tag/v1.2.0' target='_blank') v1.2.0

  //- popup
  #content-smileys
  if user.isAdmin
    div(class='modal fade' id='banPopup')
      div(class='modal-dialog' role='document')
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
              span(class='sr-only') Close
            h4.modal-title Kick/Ban
          .modal-body
            .alert.alert-info
              | Commandes équivalentes : <code>/kick @user</code> et <code>/unban @user</code>
              | Liste : <code>/ban list</code>
            form
              .form-group
                label.control-label Pseudo :
                input(type='text' name='userBanned' class='form-control' autofocus)
          .modal-footer
            button(type='button' class='btn btn-secondary' data-dismiss='modal') Annuler
            button(type='button' role='unban' class='btn btn-warning-outline') Débannir
            button(type='button' role='ban' class='btn btn-danger-outline') Bannir
