extends layout

block content

  .container-fluid
    .row
      div(class='col-md-10' id='messages-box')
        ul#messages
        hr
        form.form-chat
          input(type='text' id='message' autocomplete='off' placeholder='Votre message...')
          button(type='submit' class='btn btn-default') Envoyer
        hr
        .bs-callout.bs-callout-warning
          p
            | Vider le cache en cas de problème avec le chat. <strong>F5</strong> suffit généralement, sinon : <br>
          p
            | - Sous <strong>Chrome</strong> ouvrir le menu de développement puis maintenir le bouton
            | <strong>actualiser</strong> (à côté de la barre d'adresse) et cliquer sur
            | <strong>'Empty Cache & Hard Reload'</strong>.
          p
            | - Sous <strong>Firefox</strong>, ouvrir le menu <strong>about:permissions</strong>, chercher l'url du chat et cliquer
            | sur <strong>'Forget About This Site'</strong>.
      div(class='col-md-2' id='clients-box')
        .dropdown
          button(class='btn btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') #{ user.name } > Menu
            &nbsp;
            span.caret
          ul.dropdown-menu
            if isAdmin
              li.dropdown-header Modération
              li.divider
              li
                a(href='#') Kick/Ban
              li
                a(href='#') Lister les membres exclus
              li
                a(href='#') Montrer IP
              li &nbsp;
              li.dropdown-header Général
              li.divider
            li
              a(href='#') /roll BXT
            li
              a(href='#') Lancer un dé
            li.divider
            li
              a(href='/logout') Se déconnecter
        hr
        h4 Utilisateurs
        ul#clients