extends layout

block content

  .container-fluid
    .row
      div(id='content-messages' class='col-md-10')
      .col-md-2.panel
        .dropdown
          button(class='btn btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true') #{ user.name } > Menu
            | &nbsp;
            span.caret
          ul.dropdown-menu
            if user.isAdmin
              li.dropdown-header Modération
              li.divider
              li: a(href='#' id='banLink') Kick/Ban
              li: a(href='#' id='banList') Lister les membres exclus
              li &nbsp;
              li.dropdown-header Commandes
              li.divider
            li: a(href='#') /roll
            li: a(href='#' id='afk') /afk
            li: a(href='#' id='pm') /msg user message
            li.divider
            li: a(href='/logout') Se déconnecter
        hr
        h4 Utilisateurs
        #content-users
    .row
      .col-md-10
        form.form-chat
          textarea
          #content-smileys
          .smileys-link-container
            a(target="_blank" href="http://emoji.codes/") emoji.codes
          button(type='button' class='btn btn-info', onclick='messages.vm.send()') Envoyer
          button(type='button' class='btn btn-default' data-toggle='collapse' data-target='#chat-options' aria-expanded='false' aria-controls='chat-options') Options
          div(class="collapse" id="chat-options")
            hr
            .well
              input(type='checkbox' id='disable-enter-action')
              span Désactiver l'envoi des messages avec la touche entrée

  if user.isAdmin
    div(class='modal fade' id='banPopup')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal')
              span &times;
            h4.modal-title Kick/Ban
          .modal-body
            .alert.alert-info
              | Commandes équivalentes : <code>/kick user</code> et <code>/unban user</code>
              | Liste : <code>/ban list</code>
            form
              .form-group
                label.control-label Pseudo :
                input(type='text' name='userBanned' class='form-control' autofocus)
          .modal-footer
            button(type='button' class='btn btn-default' data-dismiss='modal') Annuler
            button(type='button' role='ban' class='btn btn-danger') Bannir
            button(type='button' role='unban' class='btn btn-warning') Débannir