extends layout

block content

  header.conteneur-flex
    .head-menu-left
      h5.title-site
        a(href="/" title="Mondedie.fr" class="site-name")
          span M
          | ONDEDIE
    .head-message
      h5 #General
    .head-menu-right

  section.conteneur-flex
    include includes/menu-left
    div(id='content-messages' class='core-message')
    include includes/menu-right

  footer.conteneur-flex
    .foot-menu-left
    include includes/form
    .foot-menu-right

  if user.isAdmin
    div(class='modal fade' id='banPopup')
      .modal-dialog
        .modal-content
          .modal-header
            button(type='button' class='close' data-dismiss='modal')
              span &times;
            h4.modal-title Kick/Ban
          .modal-body
            .alert.alert-info
              | Commandes équivalentes : <code>/kick user</code> et <code>/unban user</code>
              | Liste : <code>/ban list</code>
            form
              .form-group
                label.control-label Pseudo :
                input(type='text' name='userBanned' class='form-control' autofocus)
          .modal-footer
            button(type='button' class='btn btn-default' data-dismiss='modal') Annuler
            button(type='button' role='ban' class='btn btn-danger') Bannir
            button(type='button' role='unban' class='btn btn-warning') Débannir
