mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='mondedie-chat')
    title #{title}

    link(rel='icon' href='/images/favicon.png' type='image/png')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css')

    if path == '/chatroom'
      link(rel='stylesheet' href='//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
      link(rel='stylesheet' href='//cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')

    link(rel='stylesheet' href='/stylesheets/dest/styles.min.css')

    +ie('if lt IE 9')
      script(src='/bower/html5shiv/dist/html5shiv.js')
      script(src='/bower/respond/dest/respond.min.js')

  body
    block content
    include includes/javascript
