doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='mondedie-chat')
    title #{title}

    link(rel='icon' href='/images/favicon.png' type='image/png')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Oswald' type='text/css')

    if path == '/chatroom'
      //- faudrait le minifier soit dans app.min.css soit dans un autre fichier (à voir)
      link(rel='stylesheet' href='//cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')

    link(rel='stylesheet' href='/css/app.min.css')


  body
    block content
    include includes/javascript
