doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0')
    meta(name='description' content='mondedie-chat')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    title #{title}

    link(rel='icon' href='/images/favicon.png' type='image/png')
    include includes/build/css

  body
    block content
    include includes/build/javascript
