extends layout

block content

  .container
    h1.title-site
      a(href="/" title="Mondedie.fr" class="site-name")
        | {
        span  M
        | ONDEDIE
        span  }
      p.site-motto Forum pour débutant en administration système.

    #login
      form(action='/login' method='post' class='form-signin')
        if formMessage
          .alert.alert-danger.text-center #{formMessage}
        fieldset.form-group
          input(type='text' name='username' class='form-control' placeholder='Pseudo')
          input(type='password' name='password' class='form-control' placeholder='Mot de passe')
        .checkbox
          label
            input(type='checkbox' value='remember-me')
            | Se souvenir de moi
        button(type='submit' class='btn btn-info-outline btn-lg btn-block') Connexion
