extends layout

block content

  .container
    form(action='/login' method='post' class='form-signin')
      h2.form-signin-heading Mondedie-chat
      if formMessage
        .alert.alert-danger #{formMessage}
      input(type='text' name='username' class='form-control' placeholder='Pseudo')
      input(type='password' name='password' class='form-control' placeholder='Mot de passe')
      .checkbox
        label
          input(type='checkbox' value='remember-me')
          | Se souvenir de moi
      button(type='submit' class='btn btn-lg btn-primary btn-block') Connexion