body {
  font: 13px Helvetica, Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-chat { width: 100%; margin-top:10px; }
.form-chat button { width: 9%; margin-left:10px; margin-bottom:2px; }
.form-chat input { width: 89%; min-height: 32px; box-sizing: border-box; margin-left:3px; padding-left:5px;}

#messages { list-style-type: none; margin: 0; padding: 0; overflow: scroll; min-height: 600px; max-height: 600px }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages li.message-bot { background-color: rgba(0, 153, 153, 0.2); }
#messages-box { margin:0; padding:0 }
#messages > li > img { max-height: 200px; max-width: 200px}

#clients { list-style-type: none; margin: 0; padding: 0; }
#clients > li > img {max-height: 50px; max-width: 50px; margin-right: 10px; margin-top: 5px;}
#clients-box h4 { border-bottom: 1px solid gray; }

.bs-callout {
  padding: 20px;
  margin: 20px;
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #EEE;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #5BC0DE;
}

.bs-callout-danger {
  border-left-color: #D9534F;
}

.bs-callout-warning {
  border-left-color: #F0AD4E;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bs-callout-info h4 {
  color: #5bc0de;
}