if path == '/chatroom'
  //- faudrait le minifier soit dans app.min.css soit dans un autre fichier (à voir)
  link(rel='stylesheet' href='//cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')

//- inject:css
//- endinject
