// #######################
// # _auto-complete.scss #
// #######################

$radius: rem(4px);

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: $radius;
  border-color: #ddd;
  box-shadow: 0 0 rem(5px) rgba(0, 0, 0, 0.5);
  li {
    cursor: pointer;
    border-top: rem(1px) solid #ddd;
    padding: rem(5px) rem(10px);
    a {
      font-size: rem(13px);
      font-weight: bold;
      color: #000;
      text-decoration: none;
      .emojione {
        width: $size-smiley;
        height: $size-smiley;
        margin-right: rem(7px);
      }
    }
    &:first-child {
      border-top: none;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
  li:hover, .active {
    background-color: #4078c0;
    a {
      color: #fff;
    }
  }
}
