// ############################################################
// # _chatroom.scss                                           #
// # note : les numéros de block se lisent de gauche à droite #
// ############################################################

.conteneur-flex {
  display: flex;
  flex-direction: row;
}

header {
  height: $height-header; width: 100%;
  position: fixed; top: 0;

  // BLOCK 1
  .head-menu-left{
    width: 20%;
    padding: 0; margin: 0;
    background-color: $color-block-1;
    border-right: $border;
  }

  // BLOCK 2
  .head-message{
    width: 80%;
    padding: 0; margin: 0;
    background-color: $color-block-2;
    border-left: $border;
    border-right: $border;
    border-bottom: $border;
  }

  // BLOCK 3
  .head-menu-right{
    width: 20%;
    padding: 0; margin: 0;
    background-color: $color-block-3;
    border-left: $border;
  }
}

section {
  position: absolute;
  top: $height-header; bottom: $height-footer;
  width: 100%;

  // BLOCK 4
  .core-menu-left {
    width: 20%;
    padding: 0; margin: 0;
    overflow: auto;
    background-color: $color-block-4;
    border-right: $border;
  }

  // BLOCK 5
  .core-message {
    width: 80%;
    padding: 0; margin: 0;
    overflow: auto;
    background-color: $color-block-5;
    border: $border;
  }

  // BLOCK 6
  .core-menu-right {
    width: 20%;
    padding: 0; margin: 0;
    overflow: auto;
    background-color: $color-block-6;
    border-left: $border;
  }
}

footer {
  height: $height-footer; width: 100%;
  position: fixed; bottom: 0;

  // BLOCK 7
  .foot-menu-left{
    width: 20%;
    padding: 0; margin: 0;
    background-color: $color-block-7;
    border-right: $border;
  }

  // BLOCK 8
  .foot-message{
    width: 80%;
    overflow: hidden;
    padding: 0; margin: 0;
    background-color: $color-block-8;
    border: $border;
  }

  // BLOCK 9
  .foot-menu-right{
    width: 20%;
    padding: 0; margin: 0;
    background-color: $color-block-9;
    border-left: $border;
  }
}
