//
// _editor.scss
//

#editor {

  .md-editor, .active {
    box-shadow: none;
    border: {
      style: dashed;
      color: #ddd;
      width: rem(1px) 0 rem(1px) 0;
    }
  }

  .hidden {
    display: none !important;
  }

  .btn-default {
    outline: 0;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  textarea {
    padding: rem(7px);
    font-size: rem(13px);
    background-color: #fff;

    border: {
      style: dashed;
      width: rem(1px) 0 0 0;
      color: #ddd;
    }
  }

  .smileys-container {
    display: inline-block;
    padding: rem(5px);
    cursor: pointer;

    img {
      margin-right: rem(5px);
      width: rem(18px);
      height: auto;
    }
  }

  #content-typing {
    height: rem(17px);
    border: {
      style: dashed;
      color: #ddd;
      width: 0 0 rem(1px) 0;
    }

    p {
      padding: 0 rem(4px) 0 rem(4px);
      margin: 0;
      font-size: rem(11px);
      color: #919191;
    }
  }
}
