//
// _editor.scss
//

$heigh-editor: 60px;

#editor {

  .editor-toolbar {
    border-radius: 0;
  }

  .CodeMirror {
    min-height: rem($heigh-editor);
    height: rem($heigh-editor);
    border-radius: 0;
    &, .CodeMirror-scroll {
      min-height: rem($heigh-editor);
    }
  }

  .smileys-container {
    display: inline-block;
    margin-top: rem(10px);
    padding: rem(5px);
    border: rem(1px) solid #ccc;
    border-radius: rem(4px);
    cursor: pointer;

    img {
      margin-right: 5px;
      width: 18px;
      height: auto;
    }
  }
}
