//
// _editor.scss
//

#editor {

  .active {
    border: rem(1px) solid #ddd;
    box-shadow: none;
  }

  .hidden {
    display: none !important;
  }

  .btn-default {
    outline: 0;
  }

  textarea {
    padding: rem(7px);
    font-size: rem(13px);
    background-color: #fff;
    border: rem(1px) dashed #ddd;

    &:focus {
      border: none;
    }
  }

  .smileys-container {
    display: inline-block;
    margin-top: rem(10px);
    padding: rem(5px);
    border: rem(1px) solid #ccc;
    border-radius: rem(4px);
    cursor: pointer;

    img {
      margin-right: rem(5px);
      width: rem(18px);
      height: auto;
    }
  }
}
