//
// _layout.scss
//

body {
  font-size: rem(13px);
  overflow: hidden;
}

.block {
  padding: $padding-block;
}

.hidden {
  display: none !important;
}

.none-padding {
  padding: 0;
}

input[type="checkbox"] {
  margin-right: rem(5px);
}
