// ################
// # _layout.scss #
// ################

html, body {
  height: 100%; //permet de fix les footer
  width: 100%;
}

body {
  font-size: rem(13px);
  overflow: hidden;
  background-color: #fff;
}

.hidden {
  display: none !important;
}

input[type="checkbox"] {
  margin-right: rem(5px);
}

// ###########################
// # layout pour la chatroom #
// ###########################

//flex-grow définit le facteur de grossissement d'un objet flex.
//flex-shrink spécifie le facteur de réduction d'un élément flex
//taille initiale de l'élément en px ou auto

.conteneur-flex {
  display: flex;
  flex-direction: row; //bloque en ligne
  height: 100%; //permet de fix les footer
}

.menu {
  flex: 1;
  ///Nouvelle base
  display: flex;
  flex-direction: column;
  height: 100%;
  .nav--header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: rem(50px);
  }
  .nav--core {
    //flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
  }
  //.section--left-footer {}
}

.panel {
  flex: 5; // 1+4+1 soit 4/6 de l'interface
  display: flex;
  flex-direction: row; //bloque en ligne
  height: 100%; //permet de fix les footer
  .section--center {
    flex: 4;
    ///Nouvelle base
    display: flex;
    flex-direction: column;
    height: 100%;
    .section--center--header {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: rem(50px);
    }
    .section--center--core {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      overflow-y: auto;
    }
    .section--center--footer {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
  .section--right {
    flex: 0.9;
    ///Nouvelle base
    display: flex;
    flex-direction: column;
    height: 100%;
    .section--right--header {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      overflow-y: auto;
    }
    .section--right--footer {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }
  }
}

// ######################
// # responsives        #
// ######################

// note : ajouter un tooltip clickage pour les nom des users
// note : la barre markdown est cache pour les tablettes. (à voir)

@include media-breakpoint-down(md) {
  //page login
  .site-name {
    font-size: rem(55px) !important;
  }
  //slideout
  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: rem(225px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
  }
  .slideout-panel {
    position:relative;
    z-index: 1;
  }
  .slideout-open {
    overflow: hidden;
    .slideout-menu {
      display: block;
    }
    & body, & .slideout-panel {
      overflow: hidden;
    }
  }
  .menu {
    .site-name {
      font-size: rem(20px) !important;
    }
  }
  .section--center--footer {
    #editor {
      .md-header {
        display: none;
      }
      textarea {
        border-top: none;
      }
    }
  }
  .section--right {
    flex: 0 0 rem(50px) !important;
    .section--right--header {
      h6, hr {
        display: none;
      }
      #clients > li {
        span {
          display: none;
        }
        img {
          margin-right: 0 !important;
        }
      }
    }
    .section--right--footer {
      display: none;
    }
  }
}
