// ----------------------------
// _layout.scss
// ----------------------------

html {
  height: 100%;
  background-color: #fff;
}

body {
  overflow: hidden;
  font-size: rem(13px); // note: 1rem = 16px
}

.extend {
  height: 100vh;
}

//fix pour ie 10 et plus
_:-ms-lang(x), .extend {
  height: 100%;
}

.overflow {
  overflow-y: auto;
}

//
// fix bootstrap
//
.fix-bootstrap-flex-column {
  flex-direction: column;
}

.fix-bootstrap-flex-fluid {
  flex: 1 0 0;
}

.fix-bootstrap-flex-fixed {
  flex: none;
}

.modal-footer button {
  // reason: html compressed
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
}

input[type="checkbox"] {
  margin-right: rem(5px);
}

.hidden {
  display: none !important;
}
