// ----------------------------
// _login.scss
// ----------------------------

.title-site {
  margin: rem(15px) 0;
  text-align: center;

  .site-name {
    color: #a4b3ba;
    font-family: 'BebasNeue', regular;
    text-decoration: none;

    span {
      color: #66afe9;
    }
  }

  .site-motto {
    color: #999;
    font-size: rem(10px);
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

#login .form-signin {
  margin: 0 auto;
  max-width: rem(330px);
  padding: 0;

  .form-control {
    position: relative; // permet le focus sur l'input username
    padding: rem(10px);
    &:focus {
      z-index: 1;
    }
  }

  .form-group,
  .form-check {
    margin-bottom: rem(10px);
  }

  .form-check {
    text-align: center;
  }

  .btn {
    border-width: rem(2px);
  }

  input {
    border-color: #d9d9d9;
    border-width: rem(2px);
    &:focus {
      border-color: #66afe9;
    }
  }

  input[type="text"] {
    margin-bottom: rem(-2px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@include media-breakpoint-down(md) {
  .site-name {
    font-size: rem(70px);
  }
}

@include media-breakpoint-up(md) {
  .site-name {
    font-size: rem(85px);
  }
}
