// ----------------------------
// _panel.scss
// ----------------------------

#panel {
  //background-color: #fff;
  border: {
    style: solid;
    width: 0 rem(1px) 0 rem(1px);
    color: #ddd;
  }

  .panel--header {
    padding: rem(10px);
    border-bottom: rem(1px) solid #ddd;
    height: rem(50px);
    .button-nav {
      color: #595959;
      font-size: rem(20px);
      margin-right: rem(7px);
      padding: 0;
      border: none;
      outline: none;
      background-color: #fff;
    }

    #left-nav {
      float: left;
    }

    #right-nav {
      float: right;
    }

    h4 {
      color: #595959;
      margin: 0;
    }
  }

  .panel--core {
    padding: 0;
    #messages {
      overflow-x: hidden;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: rem(4px);

        .avatar-message {
          height: rem(36px);
          width: rem(36px);
          margin-left: rem(4px);
        }

        .username {
          font-weight: bold;
          cursor: pointer;
          margin-left: rem(7px);
        }

        .date {
          margin-left: rem(7px);
          color: #818a91;

          &:hover {
            text-decoration: underline;
          }
        }

        .text {
          margin-left: rem(47px);
          word-wrap: break-word;

          ol, ul {
            padding-left: rem(15px);
            li {
              background-color: transparent;
            }
          }

          ul {
            list-style-type: disc;
          }

          .img-fluid {
            display: none;
            margin-bottom: rem(5px);
          }
        }

        .private {
          font-size: rem(14px);
          color: #cd5c5c;
          margin-right: rem(1px);
        }

        &:nth-child(odd) {
          background-color: #f2f2f2;
        }

        &.message-bot {
          background-color: rgba(0, 153, 153, 0.2);
        }

        &.message-error, &.remove {
          background-color: rgba(255, 0, 0, 0.3);
        }

        &.message-warning {
          background-color: rgba(255, 165, 0, 0.5);
        }

        &.message-success {
          background-color: rgba(0, 255, 0, 0.3);
        }

        pre,
        blockquote {
          padding: rem(10px);
          margin: rem(10px) 0;
          font-size: rem(13px);
          word-wrap: break-word;
          background-color: #f5f5f5;
          border: rem(1px) solid #ccc;
          border-radius: rem(4px);
        }
      }

      hr {
        border-color: black;
        margin: rem(10px) 0 rem(10px) 0;
      }
    }
  }

  .panel--footer {
    padding: 0;
    border: {
      style: solid;
      width: rem(1px) 0 0 0;
      color: #ddd;
    }
  }
}

#messageInfo {
  font-size: 1rem;
  .date {
    margin-left: rem(7px);
    color: #818a91;
    &:hover {
      text-decoration: underline;
    }
  }
  .modal-username {
    font-weight: bold;
  }
}

#messageSelected {
  font-size: 1rem;
  word-wrap: break-word;
  .disclose {
    display: none;
  }
  pre,
  blockquote {
    padding: rem(10px);
    margin: rem(10px) 0;
    background-color: #f5f5f5;
    border: rem(1px) solid #ccc;
    border-radius: rem(4px);
  }
  ul, ol {
    padding-left: rem(20px);
  }
}

.close {
  font-size: 1.7rem;
  outline: 0;
}

.tooltip-inner {
  font-size: rem(14px);
}

.emojione {
  width: rem($size-smiley);
}

.modal-title i {
  margin-right: rem(5px);
}

@include media-breakpoint-down(md) {
  .panel--header h5 {
    text-align: center;
  }

  .panel--footer .md-header {
    display: none;
  }

  .panel--footer textarea {
    border-top: none;
  }
}
