// ####################
// # _menu-right.scss #
// ####################

$size-circle-status: 8px; //chiffre pair obligatoire

.section--right {
  background-color: $color-menu;
  .section--right--header {
    padding: rem(10px);
    h6 {
      color: #595959;
      i {
        margin-right: rem(5px);
      }
    }
    hr {
      margin: rem(12px) 0 rem(12px) 0;
      border-top: rem(1px) dashed #7089a9;
    }
    #clients {
      list-style-type: none;
      margin: 0; padding: 0;
      li {
        position: relative;
        margin-bottom: rem(5px);
        & > img {
          max-height: rem(30px);
          max-width: rem(30px);
          margin-right: rem(7px);
        }
        .status {
          position: absolute;
          top: 0;
          left: 0;
          width: rem($size-circle-status);
          height: rem($size-circle-status);
          margin-left: rem(-1 * ($size-circle-status / 2));
          margin-top: rem(-1 * ($size-circle-status / 2));
          border-radius: 50%;
          &.online {
            background-color: limegreen;
          }
          &.afk {
            background-color: orange;
          }
        }
      }
    }
  }
  .section--right--footer {
    text-align: center;
    padding: rem(7px);
    font-size: rem(12px);
    span.label {
      margin: 0 rem(3px);
      a {
        color: #fff;
      }
    }
    span.links {
      color: #818a91;
      a {
        color: #818a91;
        margin: 0 rem(3px);
      }
    }
  }
}
