// ######################
// # _bloc-message.scss #
// ######################

.section--center {
  background-color: #fff;
  border: {
    style: solid;
    width: 0 rem(1px) 0 rem(1px);
    color: #ddd;
  }
  .section--center--header {
    padding: rem(10px);
    border-bottom: rem(1px) solid #ddd;
    #toggle-button {
      color: #595959;
      font-size: rem(20px);
      margin-right: rem(7px);
      padding: 0;
      border: none;
      outline: none;
      background-color: #fff;
    }
    h5 {
      color: #595959;
      margin: 0;
      display: inline-block;
    }
  }
  .section--center--core {
    #messages {
      padding: 0; margin: 0;
      list-style-type: none;
      li {
        position: relative;
        padding: rem(4px);
        .username {
          font-weight: bold;
          cursor: pointer;
        }
        .date {
          // todo
        }
        .text {
          word-wrap: break-word;
        }
        .option {
          float: right;
          font-size: rem(14px);
          color: #aaa;
          cursor: pointer;
          &:hover {
            color: #3498db;
          }
        }
        &:nth-child(odd) {
          background-color: #f2f2f2;
        }
        &.message-bot {
          background-color: rgba(0, 153, 153, 0.2);
        }
        &.message-error {
          background-color: rgba(255, 0, 0, 0.3);
        }
        &.message-warning {
          background-color: rgba(255, 165, 0, 0.5);
        }
        &.message-success {
          background-color: rgba(0, 255, 0, 0.3);
        }
        .text img {
          display: block;
          max-width: 100%;
          height: auto;
          &.emojione {
            width: $size-smiley;
            display: inline;
          }
        }
        pre, blockquote {
          padding: rem(10px);
          margin: rem(10px) 0;
          font-size: rem(13px);
          word-break: break-all;
          word-wrap: break-word;
          background-color: #f5f5f5;
          border: rem(1px) solid #ccc;
          border-radius: rem(4px);
        }
        pre code {
          padding: 0;
          white-space: pre-wrap;
        }
      }
    }
  }
  .section--center--footer {
    border: {
      style: solid;
      width: rem(1px) 0 0 0;
      color: #ddd;
    }
  }
}
